* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

}

h1 {
    text-align: center;
    margin: 20px auto;
    display: flex;
    align-items: center;
}

h1:before,
h1:after {
    content: " ";
    width: 50%;
    height: 0;
    border: 2px solid black;
}