@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url(_variables.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-font: "Urbanist", sans-serif;

  /* ---------- Colors ---------- */

  --absolute-white: #fff;
  --absolute-black: #000;
  --main-color__60: #703BF7;
  --main-color__65: #8254F8;
  --main-color__70: #946CF9;
  --main-color__75: #A685FA;
  --main-color__90: #DBCEFD;
  --main-color__95: #EDE7FE;
  --main-color__97: #F4F0FE;
  --main-color__99: #FBFAFF;
  --grey-shade__08: #141414;
  --grey-shade__10: #1A1A1A;
  --grey-shade__15: #262626;
  --grey-shade__20: #333333;
  --grey-shade__30: #4D4D4D;
  --grey-shade__40: #666666;
  --grey-shade__50: #808080;
  --grey-shade__60: #999999;
  --light-shade__90: #E4E4E7;
  --light-shade__95: #F1F1F3;
  --light-shade__97: #F7F7F8;
  --light-shade__99: #FCFCFD;


  /* ---------- End of Colors ---------- */
}

body {
  font-family: var(--main-font);
  font-size: .875rem;
  font-weight: 500;
  line-height: 150%;
  color: var(--absolute-white);
  background-color: var(--grey-shade__08);
}

/* --------------------- Global Styles -------------------- */

img,
picture,
video {
  width: 100%;
  display: block;
  object-fit: cover;
}

.bg-cover {
  background-size: cover;
  background-position: center, top;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
}

.items-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.content-wrap {
  padding: 0 16px;
  width: 100%;
  max-width: 1596px;
  margin: 0 auto;
}

.border-bottom {
  border-bottom: 1px solid var(--grey-shade__15);
}

a {
  text-decoration: none;
  color: var(--absolute-white);
}

.hide {
  display: none;
}

ul {
  list-style: none;
}

.obscured-text {
  color: var(--grey-shade__60);
}

.accent-font-weight {
  font-weight: 600;
}

.grid-item-1 {
  grid-area: item-1;
}

.grid-item-2 {
  grid-area: item-2;
}

.grid-item-3 {
  grid-area: item-3;
}

.grid-item-4 {
  grid-area: item-4;
}

.grid-item-5 {
  grid-area: item-5;
}

.grid-item-6 {
  grid-area: item-6;
}

.grid-item-7 {
  grid-area: item-7;
}

/* --------------------- End of Global Styles -------------------- */

/* ------------------------ Hero Section ---------------------------- */

.hero-section {
  width: 100%;
  margin-top: 78px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

section.hero-height {
  margin-top: 0;
}

.main-header {
  height: 68px;
  grid-area: head;
}

.head {
  height: 100%;
}

.hero-content-block {
  padding: 16px;
  max-width: 758px;
  justify-content: center;
  flex-direction: column;
  gap: min(40px, 3vh);
  grid-area: hero-content;
}

.hero-content {
  margin: -117px 0 0;
  max-width: 758px;
  flex-direction: column;
  gap: 16px;
  grid-area: hero-text;
}

.btn-container {
  flex-direction: column;
  gap: 16px;
}

.about-us-block {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "item-1 item-2"
    "item-3 item-3";
}

.about-us-block div {
  padding: 16px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__10);
}

.big-btn-block {
  margin: 0 16px;
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "item-1 item-2"
    "item-3 item-4";
  border-radius: 12px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__08);
  box-shadow: 0 0 0 6px var(--grey-shade__10);
  grid-area: footer;
}

.big-btn-block a {
  position: relative;
  padding: 20px 14px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid var(--grey-shade__15);
  border-radius: 12px;
  background-color: var(--grey-shade__10);
}

.big-btn-block div {
  margin: 0 auto 14px;
  width: 48px;
  height: 48px;

}

.big-btn-block p {
  max-width: 130px;
  margin: 0 auto;
}

.big-btn-block svg {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.banner {
  position: fixed;
  top: 0;
  width: 100%;
  height: 78px;
  padding-top: 20px;
  justify-content: center;
  font-size: 0.75rem;
  background-color: var(--grey-shade__10);
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
    url(../images/banner-bg_mobile.png);
  z-index: 5;
}

.banner-content {
  width: 100%;
  padding-left: 16px;
}

.banner-content a,
p a {
  text-decoration: underline;
}

.banner-close {
  width: 26px;
  height: 26px;
  margin-left: auto;
  margin-right: 16px;
  border-radius: 50%;
  font-size: 1.2rem;
  background-color: #ffffff10;
  cursor: pointer;
}

.logo-container {
  gap: 6px;
}

.logo {
  width: 28px;
  height: 28px;
}

.logo-text {
  fill: var(--absolute-white);
}

.burger-icons {
  width: 28px;
  height: 28px;
}

.burger-icon {
  fill: var(--absolute-white);
}

div.max-height {
  top: 68px;
  height: calc(100% - 68px);
}

.header-menu {
  position: absolute;
  top: 146px;
  left: 0;
  width: 100%;
  height: calc(100% - 146px);
  padding: 0 40px;
  flex-direction: column;
  gap: 60px;
  transition: all 0.5s ease-in-out;
  background:
    radial-gradient(ellipse at center, var(--grey-shade__10) 30%, rgba(0, 0, 0, 0) 60%),
    url(../images/hero-abstract-desktop.png);
  background-color: var(--grey-shade__10);
  z-index: 1;
}

a.hide-mobile {
  display: none;
}

.menu-list {
  width: 100%;
  flex-direction: column;
  gap: 30px;
}

.menu-list li {
  width: 100%;
}

.header-menu a {
  display: block;
}

div.header-menu-hide {
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.menu-list a {
  display: block;
  padding: 12px 20px;
  text-align: center;
}

.menu-list .active-item {
  border-radius: 8px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__08);
  cursor: default;
  pointer-events: none;
}

.menu-list li a:not(.active-item) {
  border: 1px solid transparent;
}

.btn {
  width: 100%;
  /* height: fit-content; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px 20px;
  border-radius: 8px;
}

.btn-fill__black {
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__08);
}

.btn-fill__main-color {
  background-color: var(--main-color__60);
}

.hero-image {
  width: calc(100% - 32px);
  min-height: 302px;
  margin: 0 16px 0;
  grid-area: image;
  border-radius: 12px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__10);
  background-image:
    linear-gradient(45deg, rgba(25, 25, 25, 0) 51%, rgba(42, 33, 63, 1) 94%),
    url(../images/header-image.png), url(../images/hero-abstract-mobile.png);
}

.sticker {
  width: 117px;
  height: 117px;
}

.hero-section h1 {
  font-size: 1.75rem;
  line-height: 120%;
}

h1,
h2 {
  font-size: 1.75rem;
  line-height: normal;
}

h3 {
  font-size: 1.125rem;
  line-height: normal;
}

.hero-accent {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ------------------------ End of Hero Section ---------------------------- */

/* --------------------------- Main Section ------------------------------- */

.main-section {
  margin-top: 80px;
  flex-direction: column;
  gap: 40px;
}

.main-section-btn {
  align-items: end;
}

.main-section-title {
  position: relative;
  flex-direction: column;
  gap: 8px;
}

section.hero-section .main-section-title {
  gap: 6px;
}

.shapes {
  position: absolute;
  top: -32px;
  left: -8px;
  gap: 4px;
}

div[class^="shape1"] {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

div[class^="shape2"] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

div[class^="shape3"] {
  width: 5.6px;
  height: 5.6px;
  border-radius: 50%;
}

.shape1 {
  position: relative;
  background-color: var(--grey-shade__40);
}

.shape1 div {
  position: absolute;
  background-color: var(--grey-shade__08);
  transform: translate(-50%, -50%);
}

.shape1-1 {
  top: 0;
  left: 0;
}

.shape1-2 {
  top: 0;
  left: 100%;
}

.shape1-3 {
  top: 100%;
  left: 100%;
}

.shape1-4 {
  top: 100%;
  left: 0;
}



.shape2 {
  position: relative;
  background-color: var(--grey-shade__20);
}

.shape2 div {
  position: absolute;
  background-color: var(--grey-shade__08);
  transform: translate(-50%, -50%);
}

.shape2-1 {
  top: 0;
  left: 0;
}

.shape2-2 {
  top: 0;
  left: 100%;
}

.shape2-3 {
  top: 100%;
  left: 100%;
}

.shape2-4 {
  top: 100%;
  left: 0;
}



.shape3 {
  position: relative;
  background-color: var(--grey-shade__20);
}

.shape3 div {
  position: absolute;
  background-color: var(--grey-shade__08);
  transform: translate(-50%, -50%);
}

.shape3-1 {
  top: 0;
  left: 0;
}

.shape3-2 {
  top: 0;
  left: 100%;
}

.shape3-3 {
  top: 100%;
  left: 100%;
}

.shape3-4 {
  top: 100%;
  left: 0;
}




/* ------------------Swiper-------------- */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper1-slide {
  padding: 24px;
  gap: 16px;
  border-radius: 12px;
}

.swiper-slide {
  flex-direction: column;
  border: 1px solid var(--grey-shade__15);
}

.swiper-slide img {
  height: min(210px, calc(30vh + 5vw));
  border-radius: 10px;
}

.swiper-content {
  flex-direction: column;
  gap: 2px;
}

.swiper-content p {
  height: 42px;
}

.icon-boxes {
  flex-wrap: wrap;
  gap: 6px;
}

.swiper-slide div.icon-boxes {
  margin: 4px 0;
}

.icon-boxes-item {
  padding: 6px 14px;
  gap: 4px;
  border-radius: 28px;
  border: 1px solid var(--grey-shade__15);
}

.swiper-price {
  width: 100%;
  gap: 30px;
}

.price-item {
  flex-direction: column;
}

.swiper-price a {
  width: 100%;
  padding: 14px 6px;
}

.swipe-controls {
  width: 100%;
  margin-top: 40px;
  padding-top: 16px;
  justify-content: space-between;
  border-top: 1px solid var(--grey-shade__15);
}

.swipe-controls-mobile {
  gap: 10px;
}

.swipe-controls a {
  width: fit-content;
}

div[class*=swipe-button] {
  width: 44px;
  height: 44px;
  padding: 10px 15px;
  border-radius: 50%;
  border: 1px solid var(--grey-shade__15);
  cursor: pointer;
}

.swiper2-slide {
  padding: 30px;
  gap: 24px;
  border-radius: 10px;
}

.rating {
  gap: 8px;
}

.star {
  transform: scale(.75);
}

.stars {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--grey-shade__15);
}

.swiper2-content p {
  height: 84px;
  overflow: auto;
}

.swiper2-profile {
  gap: 10px;
}

.swiper2-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.swiper2-photo1 {
  background-image: url(../images/swiper2-photo1.png);
}

.swiper2-photo2 {
  background-image: url(../images/swiper2-photo2.png);
}

.swiper2-photo3 {
  background-image: url(../images/swiper2-photo3.png);
}

.swiper3-slide {
  padding: 30px;
  flex-direction: column;
  gap: 20px;
  border-radius: 12px;
}

.swiper3-slide h3 {
  height: 50px;
}

/* ------------------ End of Swiper-------------- */

/* --------------------------- End of Main Section ------------------------------- */

/* --------------------------- Footer ------------------------------- */

footer {
  width: 100%;
  margin-top: 80px;
}

footer div:not(:first-child) {
  line-height: 24px;
}

.footer-bg {
  width: 100%;
  border-top: 1px solid var(--grey-shade__15);
  border-bottom: 1px solid var(--grey-shade__15);
  background-image:
    url(../images/footer-abstract-left-mobile.png),
    url(../images/footer-abstract-right.png);
  background-position: 0 0, 100% 100%;
  background-repeat: no-repeat;
}

.footer-section-title {
  padding: 50px 0;
  flex-direction: column;
  gap: 30px;
}

.footer-content {
  padding: 50px 0;
}

/* ----------------------Input---------------------- */

.input-container {
  position: relative;
  margin-top: 20px;
}


.input-container input[type="submit"] {
  width: 0px;
  height: 0px;
  overflow: hidden;
  border: none;
}

.submit-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../images/submit-icon.png);
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
}

input:not([type="submit"]),
textarea,
select {
  width: 100%;
  padding: 16px 20px;
  color: var(--grey-shade__60);
  border-radius: 8px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__08);
}

textarea {
  resize: none;
}

select {
  color: var(--grey-shade__40);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select-checkmark {
  position: relative;
}

.select-checkmark:before {
  content: '';
  position: absolute;
  top: 16px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-image: url(../images/checkmark.png);
  background-size: cover;
  /* z-index: -1; */
}

.input-container input[type="email"] {
  padding: 14px 50px 14px 46px;
}

input {
  color: var(--absolute-white);
  outline: none;
  border: none;
}

input:-webkit-autofill {
  color: var(--grey-shade__60);
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__08);
  /* background-color: white !important; */
  /* color: #000 !important; */
  transition: background-color 5000s ease-in-out 0s;
  /* Хак, щоб приховати жовтий фон */
}

input:not([type="submit"]):active,
input:not([type="submit"]):focus,
textarea:active,
select:active,
textarea:focus,
select:focus {
  border: 1px solid var(--main-color__60);
  outline: none;
}

input:not([type="submit"])::placeholder,
textarea::placeholder,
select {
  font-size: .875rem;
  letter-spacing: -.6px;
}

textarea::placeholder {
  font-family: var(--main-font);
}

.placeholder-icon {
  width: 48px;
  height: 48px;
  padding: 12px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

  background-image: url(../images/email-icon.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------------End of Input---------------------- */

.footer-link-item {
  padding-bottom: 20px;
  gap: 8px;
  flex-direction: column;
  letter-spacing: -.6px;
  border-bottom: 1px solid var(--grey-shade__15);
}

.footer-link-item a:first-child {
  margin-bottom: 8px;
  font-size: 1rem;
}

.footer-link-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-template-rows: 212px 20px 116px 20px 76px 40px;
}

.link-item-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.link-item-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

.link-item-3 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.link-item-5 {
  grid-column: 1 / 2;
  grid-row: 5 / 7;
}

.link-item-4 {
  grid-column: 3 / 4;
  grid-row: 3 / 6;
}

.footer-link-line-1 {
  width: 0;
  height: 100%;
  margin: 0 auto;
  border-right: 1px solid var(--grey-shade__15);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.footer-link-line-2 {
  width: 0;
  height: 100%;
  margin: 0 auto;
  border-right: 1px solid var(--grey-shade__15);
  grid-column: 2 / 3;
  grid-row: 3 / 7;
}

.footer-link-line-3 {
  display: none;
  width: 0;
  height: 100%;
  margin: 0 auto;
  border-right: 1px solid var(--grey-shade__15);
}

.footer-social {
  padding: 20px 0;
  background-color: var(--grey-shade__10);
}

.footer-social-container {
  flex-direction: column;
  gap: 20px;
}

.icon-container {
  gap: 8px;
}

.social-item {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--grey-shade__08);
}

.social-subcontainer {
  flex-direction: column;
  gap: 10px;
}

/* --------------------------- End of Footer ------------------------------- */

/* -------------------------------- Contact ---------------------------------------- */

.top-section {
  width: 100%;
  margin-top: 78px;
}

a.active-contact {
  color: var(--absolute-white);
  background-color: var(--main-color__60);
  border-color: var(--main-color__60);
  cursor: default;
  pointer-events: none;
}

.top-section-bg {
  background:
    linear-gradient(to right, rgba(38, 38, 38, 0.5) 0%, rgba(38, 38, 38, 0) 40%);
}

.top-section-content {
  padding: 50px 0;
  flex-direction: column;
  gap: 10px;
}

.top-section .grid-item-4 p {
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

fieldset {
  border-radius: 12px;
  border: 1px solid var(--grey-shade__15);
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
}

.submit-container {
  flex-direction: column;
  gap: 20px;
}

.submit-container label {
  width: 100%;
  gap: 6px;
}

.submit-container input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  width: 24px;
  height: 24px;
  outline: none;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"]:checked::after {
  content: "\2713";
  position: absolute;
  top: 20%;
  left: 60%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  color: var(--main-color__60);
}


.sort-container {
  flex-direction: column;
  gap: 30px;
}

.sort-buttons {
  display: grid;
  max-width: 413px;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "btn-1 btn-2 btn-3";
  background-color: var(--grey-shade__10);
}

.sort-btn-1 {
  grid-area: btn-1;
}

.sort-btn-2 {
  grid-area: btn-2;
}

.sort-btn-3 {
  grid-area: btn-3;
}

.sort-buttons button:disabled {
  background-color: var(--grey-shade__08);
  cursor: default;
  border-color: var(--grey-shade__15);
}

.sort-buttons button {
  color: var(--absolute-white);
  background-color: transparent;
}

.sort-items {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 20px;
  grid-template-areas: "item-1"
    "item-2";
}

.sort-items>div {
  flex-direction: column;
  padding: 24px;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid var(--grey-shade__15);
}

div[class*="sort-item-"]>a {
  width: 100%;
}

.title {
  flex-direction: column;
  gap: 4px;
}

.bg-section {
  display: grid;
  margin-top: 80px;
  padding: 24px;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 35px auto;
  grid-template-areas:
    "item-1 item-1 item-2 item-2"
    "item-3 item-3 item-4 item-5"
    ". . . ."
    "item-6 item-6 item-6 item-6";
  border-radius: 12px;
  border: 1px solid var(--grey-shade__15);
  background-color: var(--grey-shade__10);
  background-image: url(../images/bg-section-abstract_mobile.png);

}

.bg-section img {
  border-radius: 8px;
}

.bg-section-content {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "item-1 item-1" "item-2 item-2";
}

.bg-section-content img {
  height: 135px;
}

.bg-section-content .shape1 div,
.bg-section-content .shape2 div,
.bg-section-content .shape3 div {
  background-color: var(--grey-shade__10);
}

/* -------------------------------- End of Contact ---------------------------------------- */

/* --------------------------- Media Queries ------------------------------------ */

@media all and (max-height: 55vw) {
  section.hero-section {
    min-height: 100vh;
  }

}

@media all and (max-width: 374px) {
  .banner {
    font-size: .6rem;
  }

  .main-section .btn {
    padding: 8px 10px;
    width: fit-content;
    min-width: 100px;
  }

  .big-btn-block a p {
    font-size: 0.7rem;
  }

  .big-btn-block a i {
    top: 15px;
    right: 15px;
  }

  .swiper-content p {
    font-size: .7rem;
  }

  .swiper-price a {
    font-size: .6rem;
  }

  .swipe-controls a {
    font-size: .6rem;
  }
}

@media all and (orientation:landscape) {
  .hero-section {
    margin-top: 49px;
  }

  .top-section {
    margin-top: 49px;
  }

  .banner {
    height: 49px;
    padding-top: 0;
  }

  .banner-content {
    justify-content: center;
    margin-left: 0;
  }

  .banner-close {
    margin-right: 32px;
  }


  .burger-icons {
    display: none;
  }

  .header-menu {
    position: static;
    height: auto;
    padding: 0;
    flex-direction: row;
    gap: 0;
    transition: none;
    background: none;
  }

  div.header-menu-hide {
    height: auto;
    overflow: visible;
    transition: none;
  }

  a.hide-desktop {
    display: none;
  }

  a.hide-mobile {
    display: flex;
    width: fit-content;
  }

  .menu-list {
    width: auto;
    flex-direction: row;
    gap: 0;
  }

  .menu-list li {
    width: auto;
  }

  .main-section-title:not(.always-full-width) {
    max-width: 70%;
  }

  .swipe-controls-mobile {
    width: 100%;
  }

  .swipe-pagination {
    order: -1;
    margin-right: auto;
  }

  .footer-link-container {
    margin-top: 0px;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 212px 20px 116px;
  }

  .link-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .link-item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .link-item-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .link-item-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .link-item-4 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }

  .footer-link-line-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer-link-line-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .footer-link-line-3 {
    display: block;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-4"
      "item-5 item-6"
      "item-7 item-7";
  }

  .submit-container {
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
  }

  .sort-items {
    grid-template-areas: "item-1 item-2";
  }

  .bg-section-content {
    align-items: center;
    gap: 10px;
    grid-template-areas: "item-1 item-2";
  }

  .bg-section-content img {
    height: 220px;
  }

}

@media (hover: hover) {

  .big-btn-block a:hover {
    background-color: var(--grey-shade__08);
  }

  .btn-fill__black:hover {
    background-color: var(--main-color__60);
    border-color: var(--main-color__60);
  }

  .btn-fill__main-color:hover {
    color: var(--main-color__60);
    background-color: var(--light-shade__90);
  }

  div[class*=swipe-button]:hover {
    background-color: var(--grey-shade__40);
  }


  input:not([type="submit"]):hover,
  textarea:hover,
  select:hover {
    border: 1px solid var(--main-color__60);
    outline: none;
  }

}

@media all and (min-width: 768px) {

  .hero-section {
    margin-top: 49px;
    display: grid;
    row-gap: 0;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 77px auto 180px;
    grid-template-areas:
      "head head"
      "hero-content image"
      "footer footer";
  }

  .top-section {
    margin-top: 49px;
  }

  .content-wrap {
    padding: 0 24px;
  }

  .hero-content-block {
    margin: 40px 0;
    padding: 0 0 0 24px;
  }

  .banner {
    height: 49px;
    padding-top: 0;
  }

  .banner-content {
    justify-content: center;
    margin-left: 0;
  }

  .banner-close {
    margin-right: 32px;
  }

  .burger-icons {
    display: none;
  }

  .header-menu {
    position: static;
    height: auto;
    padding: 0;
    flex-direction: row;
    gap: 0;
    transition: none;
    background: none;
  }

  .btn:not(.always-full-width) {
    width: fit-content;
  }

  div.header-menu-hide {
    height: auto;
    overflow: visible;
    transition: none;
  }

  a.hide-desktop {
    display: none;
  }

  a.hide-mobile {
    display: flex;
  }

  .menu-list {
    width: auto;
    flex-direction: row;
    gap: 4px;
  }

  .menu-list li {
    width: auto;
  }

  .menu-list li a:not(.active-item):hover {
    border-radius: 8px;
    border: 1px solid var(--grey-shade__15);
    background-color: var(--grey-shade__08);
  }

  .hero-image {
    width: 100%;
    max-height: 100%;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .hero-image img {
    max-height: 800px;
  }

  .hero-content {
    position: relative;
    margin: 0;
  }

  .sticker {
    position: absolute;
    top: -30px;
    right: -90px;
  }

  .btn-container {
    flex-direction: row;
  }

  .about-us-block {
    gap: 6px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "item-1 item-2 item-3";
  }

  .about-us-block div {
    padding: 6px;
    text-align: left;
  }

  .hero-accent {
    line-height: 100%;
  }

  .big-btn-block {
    margin: 0 6px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-2 item-3 item-4";
  }

  .big-btn-block a p {
    max-width: fit-content;
  }

  .main-section {
    margin-top: 90px;
  }

  .main-section-title:not(.always-full-width) {
    max-width: 70%;
  }

  .swipe-controls-mobile {
    width: 100%;
  }

  .swipe-pagination {
    order: -1;
    margin-right: auto;
  }

  footer {
    margin-top: 80px;
  }

  .footer-section-title {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-bg-content {
    max-width: 70%;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
  }

  .mail-input {
    min-width: 30%;
  }

  .footer-link-container {
    margin-top: 0px;
    grid-template-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 212px 20px 116px;
  }

  .link-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .link-item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }

  .link-item-3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .link-item-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }

  .link-item-4 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }

  .footer-link-line-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .footer-link-line-2 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .footer-link-line-3 {
    display: block;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }

  .footer-social {
    padding: 14px 0;
  }

  .footer-social-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 0px;
  }

  .social-item {
    width: 40px;
    height: 40px;
  }

  .social-subcontainer {
    flex-direction: row;
    gap: 20px;
  }

  .top-section-content {
    padding: 60px 0;
  }

  .top-section-content p {
    width: 85%;
  }

  .form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-2"
      "item-3 item-4"
      "item-5 item-6"
      "item-7 item-7";
  }

  .submit-container {
    flex-direction: row;
    justify-content: space-between;
  }

  form {
    padding: 40px;
  }

  .sort-items {
    grid-template-areas: "item-1 item-2";
  }

  .bg-section {
    margin-top: 90px;
  }

  .bg-section-content {
    align-items: center;
    gap: 10px;
    grid-template-areas: "item-1 item-2";
  }

}

@media all and (min-width: 1024px) {

  .content-wrap {
    padding: 0 32px;
  }

  .hero-content-block {
    padding: 0 0 0 32px;
  }

  .banner {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
      url(../images/banner-bg_laptop.png);
  }

  .banner-content a {
    margin-left: 10px;
  }

  .banner-close {
    width: 32px;
    height: 32px;
  }

  .hero-image {
    background-image: linear-gradient(45deg, rgba(25, 25, 25, 0) 51%, rgba(42, 33, 63, 1) 94%),
      url(../images/header-image.png),
      url(../images/hero-abstract-laptop.png);
  }

  .hero-content-block {
    gap: 40px;
  }

  .sticker {
    position: absolute;
    top: 0;
    right: -100px;
  }

  .btn-container {
    flex-direction: row;
  }

  .about-us-block {
    gap: 12px;
  }

  .about-us-block div {
    padding: 14px 16px;
    text-align: left;
  }

  .main-section {
    margin-top: 100px;
  }

  .footer-link-container {
    grid-template-columns: 1fr 40px 1fr 40px 1fr 40px 1fr;
    grid-template-rows: 116px 20px 116px;
  }

  .link-item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }

  .link-item-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 4;
  }

  .link-item-3 {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
  }

  .link-item-5 {
    grid-column: 7 / 8;
    grid-row: 3 / 4;
  }

  .link-item-4 {
    grid-column: 5 / 6;
    grid-row: 1 / 4;
  }

  .footer-link-line-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
  }

  .footer-link-line-2 {
    grid-column: 6 / 7;
    grid-row: 1 / 4;
  }

  .footer-link-line-3 {
    display: block;
    grid-column: 4 / 5;
    grid-row: 1 / 4;
  }

  .top-section-content {
    padding: 70px 0;
  }

  form {
    padding: 50px;

  }

  .bg-section {
    margin-top: 100px;
    grid-template-rows: auto;
    grid-template-areas:
      "item-1 item-1 item-2 item-2"
      "item-3 item-3 item-4 item-5"
      "item-6 item-6 item-6 item-6";
    background-image: url(../images/bg-section-abstract_laptop.png);
  }
}

@media all and (min-width: 1200px) {
  .hero-section {
    column-gap: 30px;
    height: calc(100vh - 49px);
  }

  section.hero-height:not(.top-section) {
    height: 100vh;
  }

  /* .btn {
    min-width: 200px;
  } */

  .about-us-block {
    gap: 16px;
  }

  .about-us-block div {
    padding: 14px 20px;
  }

  .big-btn-block a div {
    margin: 0 auto 16px;
  }

  .big-btn-block a i {
    top: 20px;
    right: 20px;
    font-size: 1.875rem;
  }

  .main-section {
    margin-top: 110px;
    gap: 60px;
  }

  .star {
    transform: scale(.85);
  }

  .stars {
    width: 38px;
    height: 38px;
  }

  footer {
    margin-top: 72px;

  }

  .footer-bg {
    background-image:
      url(../images/footer-abstract-left.png),
      url(../images/footer-abstract-right.png);
    background-position: 0 100%, 100% 100%;
  }

  .footer-section-title {
    padding: 60px 0;
  }

  .top-section-content {
    padding: 80px 0;
  }

  .form-container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "item-1 item-2 item-3"
      "item-4 item-5 item-6"
      "item-7 item-7 item-7";
  }

  form {
    padding: 60px;
  }

  .sort-items>div {
    padding: 30px;
    gap: 30px;
  }

  .bg-section {
    margin-top: 110px;
  }

}

@media all and (1200px <=width <=1320px) {
  .swiper-price a {
    font-size: .8rem;
  }
}


@media all and (min-width: 1440px) {

  .hero-section {
    column-gap: 60px;
  }

  body {
    font-size: 1rem;
  }

  .hero-section h1 {
    font-size: 2.875rem;
  }

  h1,
  h2 {
    font-size: 2.375rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  .hero-accent {
    font-size: 1.85rem;
  }

  .content-wrap {
    padding: 0 64px;
  }

  .main-header {
    height: 77px;
  }

  .hero-content {
    gap: 20px;
  }

  .hero-content-block {
    margin-left: auto;
    padding: 0 0 0 64px;
    gap: 50px
  }

  .logo-container {
    gap: 12px;
  }

  .logo {
    width: 34px;
    height: 34px;
  }

  .logo-text {
    transform: scale(1.2);
  }

  .sticker {
    top: -10px;
    right: -118px;
    transform: scale(1);
  }

  .main-section {
    margin-top: 120px;
  }

  .main-section-title {
    gap: 10px;
  }

  section.hero-section .main-section-title {
    gap: 10px;
  }

  .btn-container {
    flex-direction: row;
    gap: 20px;
  }

  .about-us-block {
    gap: 20px;
  }

  .big-btn-block a {
    padding: 30px 16px;
  }

  .big-btn-block a div {
    margin: 0 auto 16px;
    width: 60px;
    height: 60px;
  }

  .big-btn-block a i {
    font-size: 2.225rem;
  }

  .shapes {
    top: -40px;
    gap: 4.8px;
  }

  div[class^="shape1"] {
    width: 24px;
    height: 24px;
  }

  div[class^="shape2"] {
    width: 14px;
    height: 14px;
  }

  div[class^="shape3"] {
    width: 6.72px;
    height: 6.72px;
  }

  .swiper-slide img {
    height: min(252px, calc(30vh + 5vw));
  }

  .swiper1-slide {
    padding: 30px;
    gap: 20px;
  }

  .swiper-content {
    gap: 4px;
  }

  .swiper-content p {
    height: 48px;
  }

  .swiper2-slide {
    padding: 40px;
    gap: 30px;
  }

  .swiper2-content p {
    height: 96px;
  }

  .swiper3-slide {
    padding: 40px;
    gap: 24px;
  }

  .swiper3-slide h3 {
    height: 60px;
  }

  .swiper-price {
    gap: 40px;
  }

  footer {
    margin-top: 96px;
  }

  .footer-section-title {
    padding: 100px 0;
  }

  .footer-link-container {
    display: flex;
    min-width: 65%;
    justify-content: space-between;
  }

  div[class^='footer-link-line'] {
    display: none;
  }

  .footer-link-item {
    padding-bottom: 0px;
    gap: 16px;
    border-bottom: none;
  }

  .footer-link-item a:first-child {
    margin-bottom: 16px;
    font-size: 1.125rem;
  }

  .top-section-content {
    padding: 100px 0;
  }

  .top-section .big-btn-4 p {
    gap: 20px;
  }

  select {
    font-size: 1rem;
  }

  form {
    padding: 80px;
  }

  .form-container {
    gap: 30px;
  }

  .form-container label {
    gap: 14px;
  }

  .sort-container {
    gap: 40px;
  }

  .sort-items>div {
    padding: 40px;
  }

  .title {
    gap: 6px;
  }

  .bg-section {
    padding: 60px;
    gap: 20px;
  }

  .bg-section-content {
    gap: 20px;
  }

  .bg-section {
    margin-top: 120px;
  }

}

@media all and (min-width: 1920px) {

  .hero-section {
    height: calc(100vh - 63px);
    margin-top: 63px;
    column-gap: 80px;
    grid-template-rows: 99px auto 252px;

  }

  .top-section {
    margin-top: 63px;
  }

  body {
    font-size: 1.125rem;
  }

  .content-wrap {
    padding: 0;
  }

  .hero-image {
    background-image:
      linear-gradient(45deg, rgba(25, 25, 25, 0) 51%, rgba(42, 33, 63, 1) 94%),
      url(../images/header-image.png),
      url(../images/hero-abstract-desktop.png);
  }

  .hero-content {
    gap: 24px;
  }

  .hero-content-block {
    padding: 0;
    gap: 60px;
  }

  .banner {
    height: 63px;
    font-size: 1.125rem;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.6) 100%),
      url(../images/banner-bg_desktop.png);
  }

  .logo-container {
    gap: 30px;
  }

  .logo {
    width: 48px;
    height: 48px;
  }

  .logo-text {
    transform: scale(1.7);
  }

  .menu-list {
    gap: 6px;
  }

  .main-header {
    height: 99px;
  }

  .hero-section h1 {
    font-size: 3.75rem;
  }

  h1,
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  .big-btn-block a div {
    margin: 0 auto 20px;
    width: 82px;
    height: 82px;
  }

  .big-btn-block a i {
    font-size: 2.5rem;
  }

  .big-btn-block svg {
    transform: scale(1.3);
  }

  .shapes {
    top: -50px;
    left: -12px;
    gap: 6px;
  }

  div[class^="shape1"] {
    width: 30px;
    height: 30px;
  }

  div[class^="shape2"] {
    width: 18px;
    height: 18px;
  }

  div[class^="shape3"] {
    width: 8.4px;
    height: 8.4px;
  }

  .main-section {
    margin-top: 150px;
    gap: 80px;
  }

  .main-section-title {
    gap: 14px;
  }

  section.hero-section .main-section-title {
    gap: 14px;
  }

  .swiper-slide img {
    height: min(310px, calc(30vh + 5vw));
  }

  .swiper1-slide {
    padding: 40px;
    gap: 30px;
  }

  .swiper-content {
    gap: 6px;
  }

  .swiper-content p {
    height: 54px;
  }

  .swiper-slide div.icon-boxes {
    margin: 0;
  }

  .icon-boxes {
    gap: 10px;
  }

  .icon-boxes-item {
    padding: 8px 14px;
    font-size: 1.125rem;
  }

  .icon-boxes-item svg {
    transform: scale(1.2);
  }

  .swiper-price {
    gap: 50px;
  }

  .swiper-price a {
    padding: 18px 6px;
  }

  .rating {
    gap: 10px;
  }

  .star {
    transform: scale(1);
  }

  .stars {
    width: 44px;
    height: 44px;
    ;
  }

  .swiper2-slide {
    padding: 50px;
    gap: 40px;
  }

  .swiper2-content p {
    height: 108px;
  }

  .swiper3-slide {
    padding: 50px;
    gap: 30px;
  }

  .swiper3-slide h3 {
    height: 70px;
  }

  .social-item {
    width: 52px;
    height: 52px;
  }

  .social-icon {
    transform: scale(1.2);
  }

  .footer-link-item a:first-child {
    font-size: 1.25rem;
  }

  .input-container {
    margin-top: 30px;
  }

  input:not([type="submit"]),
  textarea,
  select {
    padding: 24px 20px;
  }

  input:not([type="submit"])::placeholder,
  textarea::placeholder,
  select {
    font-size: 1.125rem;
    /* text-indent: 34px; */
  }

  textarea::placeholder {
    font-size: 1.25rem;
  }

  .submit-icon {
    top: 8px;
    right: 8px;
    transform: scale(1.25);
  }

  input:not([type="submit"]) {
    width: 100%;
    /* height: 66px; */
    padding: 24px 20px;
    font-size: 1.125rem;
  }

  .input-container input[type="email"] {
    padding: 21px 64px 21px 58px;
  }

  .placeholder-icon {
    transform: scale(1.25);
    top: 8px;
    left: 8px;
  }

  .top-section-content {
    gap: 14px;
  }

  .top-section .big-btn-4 p {
    gap: 30px;
  }

  form {
    padding: 100px;
    gap: 50px;
  }

  .form-container {
    gap: 50px;
  }

  .form-container label {
    gap: 16px;
    font-size: 1.25rem;
  }

  .submit-container input[type="checkbox"] {
    width: 28px;
    height: 28px;
  }

  .submit-container label {
    gap: 10px;
  }

  input[type="checkbox"]:checked::after {
    top: 20%;
    left: 60%;
    font-size: 2.3rem;
  }

  .select-checkmark:before {
    top: 24px;
  }

  .sort-container {
    flex-direction: column;
    gap: 50px;
  }

  .sort-buttons {
    max-width: 516px;
  }

  .sort-items {
    gap: 30px;
  }

  .sort-items>div {
    padding: 50px;
    gap: 40px;
  }

  .title {
    gap: 10px;
  }

  .bg-section {
    margin-top: 150px;
    padding: 80px;
    background-image: url(../images/bg-section-abstract_desktop.png);
  }

  .bg-section-content img {
    height: 280px;
  }

}



/* --------------------------- End of Media Queries ------------------------------------ */