:root {
    --main-font: "Urbanist", sans-serif;

    /* ---------- Colors ---------- */

    --absolute-white: #fff;
    --absolute-black: #000;
    --main-color__60: #703BF7;
    --main-color__65: #8254F8;
    --main-color__70: #946CF9;
    --main-color__75: #A685FA;
    --main-color__90: #DBCEFD;
    --main-color__95: #EDE7FE;
    --main-color__97: #F4F0FE;
    --main-color__99: #FBFAFF;
    --grey-shade__08: #141414;
    --grey-shade__10: #1A1A1A;
    --grey-shade__15: #262626;
    --grey-shade__20: #333333;
    --grey-shade__30: #4D4D4D;
    --grey-shade__40: #666666;
    --grey-shade__50: #808080;
    --grey-shade__60: #999999;
    --light-shade__90: #E4E4E7;
    --light-shade__95: #F1F1F3;
    --light-shade__97: #F7F7F8;
    --light-shade__99: #FCFCFD;


    /* ---------- End of Colors ---------- */
}