* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  width: 600px;
  height: 600px;
  margin: auto;
  border: 2px solid black;
}

td {
  width: 74.5px;
  height: 74.5px;
  border: 1px solid white;
  text-align: center;
  font-size: 3rem;
}

tr:nth-of-type(odd) td:nth-of-type(even) {
  background-color: lightgrey;
}

tr:nth-of-type(even) td:nth-of-type(odd) {
  background-color: lightgrey;
}