/* Reset all margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
}

.page-wrapper {
  margin: 0 auto;
  width: 100vw;
  max-width: 1250px;
  display: flex;
  flex-direction: row-reverse;
}

/* -----Main Page Styles----- */

.right-side {
  width: 100%;
  padding: 30px 30px 120px 30px;
  background-color: white;
}

.info {
  margin-top: 30px;
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 2px solid lightgray;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h2,
h3 {
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid lightgrey;
}

.info-row {
  margin-top: 20px;
}

.info-item {
  margin-top: 12px;
}

div.info {
  text-align: justify;
}

.btn {
  display: inline-block;
  padding: 5px 20px;
  margin-bottom: 10px;
  text-align: center;
  background-color: #3f6592;
  color: white;
  border: none;

  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: all 0.3s ease;
  transform: scaleX(1.05);
}

/* -----End of Main Page Styles-----  */

/* -----Left Side Styles-----  */
.left-side {
  width: 300px;
  padding-left: 30px;
  background-color: #3f6592;
  color: white;
}

.photo-small {
  display: none;
  background-color: #3f6592;
}

.photo-img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin-top: 30px;
  margin-right: 30px;
  object-fit: contain;
  background-color: white;
}

.personal {
  margin-top: 30px;
}

span {
  display: block;
}

.personal-title {
  font-size: 1.2em;
  padding-bottom: 20px;
  font-weight: bold;
  border-bottom: 1px solid white;
}

.personal-item {
  margin-top: 20px;
}

div.personal ul {
  padding-right: 20px;

}

/* -----End of Left Side Styles----- */

/* ------ Global Styles ----- */


address {
  font-style: normal;
}

a {
  color: white;
  text-decoration: none;
}

.mb-6 {
  margin-bottom: 6px;
}

.title2 {
  font-size: 1.2rem;
}

.bold {
  font-weight: bold;
}

.d-flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.italic {
  font-style: italic;
}

/* -----End of Global Styles -----  */

/* -----Media Queries----- */

@media (max-width: 768px) {
  .page-wrapper {
    flex-direction: column;
    align-items: center;

  }

  header {
    text-align: center;
  }

  .photo-small {
    display: block;
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .photo-large {
    display: none;
  }

  .left-side {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .right-side {
    width: 100%;
    padding: 30px;
  }

  .photo-img {
    margin-right: 0;
  }

  .personal {
    float: unset;
  }

  .personal-item {
    padding: 0 20px;
    text-align: left;
  }

  .personal {
    margin-bottom: 30px;
  }
}